body {
  background-color: rgb(238, 221, 253);
  text-align: center;
}

h1 {
  color: rgb(68, 0, 146);
  font-family: "tilt Prism", sans-serif;
  font-size: 60px;
}

header img {
  width: 300px;
}

header {
  padding: 32px;
}

main {
  margin: 70px auto 20px auto;
  padding: 70px 30px 50px 30px;
  background-color: rgb(123, 72, 182);
  border-radius: 8px;
  color: white;
  width: 850px;
  font-size: 18px;
  text-align: left;
}

h2 {
  text-align: left;
  font-size: 30px;
  margin: 0 auto;
}
/* h1은 한 문서당 1개만 사용 */

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

li {
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

a {
  text-decoration: none;
  border-radius: 5px;
  color: rgb(123, 72, 182);
  background-color: rgb(255, 238, 0);
  padding: 2px 6px;
  font-weight: 900;
}

a:hover,
a:active {
  background-color: rgb(255, 187, 0);
}

footer {
    margin-bottom: 100px;
}

footer a {
  display: inline-block;
  padding: 12px 20px;
  background-color: rgb(255, 196, 0);
}

footer a:hover,
footer a:active {
  background-color: rgb(255, 238, 0);
}

footer p {
  color: rgb(54, 31, 5);
  margin-top: 30px;
}

.highlight {
  color: rgb(255, 238, 0);
  border-color: rgb(255, 238, 0);
}

.bold {
  font-weight: 900;
}
